/**************************************
*        DIAGNOSTIC STYLING           *
***************************************/

* {
  outline: 0px dotted grey;
}

/**************************************
*         HTML, BODY STYLING          *
***************************************/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: black;
  margin: 5%;
  font-family: 'Philosopher', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #a7bdd3;
}


/**************************************
*            NAV STYLING              *
***************************************/

body#home a#homenav,
body#about a#aboutnav,
body#portfolio a#portfolionav,
body#contact a#contactnav {
	color: #a7bdd3;
  border-bottom: 1px solid #a7bdd3;
}

/**************************************
*        PORTFOLIO STYLING            *
***************************************/

.lg-backdrop {
  background-color: black;
}

.lg-toolbar {
  background-color: black;
}

#portfolio img.lg-object.lg-image {
  border-radius: 1%;
  outline: 0;
  max-width: 100%;
  max-height: 100%;
}

h1, h3 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-family: 'Montserrat', sans-serif;
}

h1, h3, nav, a {
  color: white;
  /* color: #a7bdd3; */
}

/**************************************
*              NAV STYLES             *
***************************************/

#nav a {
  text-decoration: none;
  padding-bottom: 7px;
}

ul {
  list-style-type: none;
}

#nav li {
  position: relative;
  display: inline;
  padding: 17px;
  min-width: 40px;
  text-align: center;
  font-size: 14px;
  transition: color 1s ease;
}

#nav {
  display: inline;
  clear: both;
}

nav {
  float: right;
  margin-bottom: 1em;
  display: inline;
  clear: both;
}

#nav li a:hover {
  /* background: #1c1c1c; */
  color: #a7bdd3;  /* or whatever */
}


main.grid section {
  max-width: 150px;
  max-height: 150px;
}



body {
  padding: 2em;
}

section {
  background: rosybrown;
  margin: 1em;
  width: 300px;
}

.grid section,
.list section {
  animation: jello .5s;
}


/* Default, Grid View Styling */
.grid section h2,
.grid section p {
  display: none;
}

/* List View */
.list section img {
  display: none;
}

.list section {
  width: 600px;
}

#portfolio img {
  margin: 0px;
  width: 100%;
  max-width: 100%;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
}

/* #portfolio img.focal {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  overflow: hidden;
} */


/**************************************
*              MAIN GRID              *
***************************************/

body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

.maingrid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  
  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
}

#portfolio .module {
  /* Demo-Specific Styles */
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;

  outline: 1px solid grey;
  
  /* Flex Fallback */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
}


/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  .module {
    margin: 0;
  }
}

figure {
  position: relative;
}

figure a {
  background: rgba(0,  0,  255,  0.3);
}

figure:hover > a {
  filter: blur(2px);
  background: rgba(0,  0,  255,  0.8);
  opacity: 0.8;
}


figcaption {
  opacity: 0;
  width: 100%;
  position: absolute;
}

figcaption h3 {
  color: white;
  font-size: 2.1em;
  text-align: center;
}

figcaption h4 {
  color: #a7bdd3;
  font-size: 1.1em;
  text-align: center;
}

figure:hover > figcaption {
  opacity: 1;
}


/**************************************
*          PORTFOLIO FILTER           *
***************************************/

#filter {
  margin-top: 40px;
  margin-bottom: 40px;
}

#filter button {
  color: grey;
}

/* .photo {
  border: 2px solid cyan;
}

.illus {
  border: 2px solid magenta;
}

.logo {
 border: 2px solid yellow;
} */

.hide {
  opacity: 0;
  transition: opacity .25s;
  position: absolute;
}
/**************************************
*            FORM STYLES              *
***************************************/

#contact form {
  max-width: 75%;
  display: block;
  text-align: left;
  margin: 2em auto;
}

#contact form input, #contact form .input-group textarea, form input #submit {
  display: block;
  width: 100%;
  color: grey;
  margin: 0 0 1rem 0;
  /* border-radius: 5%; */
}


#formcomment{
  color: grey;
}

#contactintro {

  max-width: 75%;
  font-size: 18px;
  line-height: 1.5;
  margin: 60px auto 0 auto;
}


/* #contact {
  background: url(/img/aaron-burden-64849-unsplash.jpg); 
  background-size: cover;
} */


/**************************************
*            ABOUT STYLES            *
***************************************/
 
.greet {
  margin-top: 60px;
  font-size: 28px;
  line-height: 1em;
}

.greet p {
  display: inline;
}

.h1-text {
  display: inline-block;
}

.aboutintro {
  max-width: 80%;
  margin-bottom: 30px;
}

#aboutphoto {
  max-width: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}


/**************************************
*            BUTTON STYLES            *
***************************************/

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  line-height: 1.4;
  transition: 0.3s;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

.btn.btn-primary {
  background: #a7bdd3;
  color: #000;
  border: 1px solid transparent;
}

/**************************************
*                FOOTER                *
***************************************/

#footer {
  position: relative;
  width: 100%;
  color: #a7bdd3;
  text-align: center;
}

p.copyright {
  /* position: absolute; */
  width: 100%;
  line-height: 20px;
  font-size: 0.8em;
  text-align: center;
  /* bottom: 0px; */
}

.footer-icon {
  max-width: 40%;
  margin-right: 0px;
  margin-left: 0px;
}

a.social-link svg {
  width: 55px;
  padding-left: 15px;
  padding-right: 15px;
}

/* footer#footer {
  border-top: 1px solid white;
} */

#footer .div-border {
  height: 3px;
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  border-top: 1px solid #a7bdd3;
  opacity: 0.4;
}


/**************************************
*             404 STYLES              *
***************************************/

#404 {
  margin: 30px auto;
}
#404 h1 {
  text-align: center;
  font-size: 5em;
}

#404 h2 {
  text-align: center;
  font-size: 3em;
  margin: 0 auto;
}

#404 a {
  text-align: center;
  margin: 0 auto;
}

#404svg {
  background-color: white;
  margin: 30px auto;
  max-height: 250px;
  max-width: 250px;
}


/**************************************
*                HOME                 *
***************************************/




/**************************************
*                RWD                  *
***************************************/

@media (max-width: 900px) {


}

@media (max-width: 500px) {


}

/* Mobile 320px min */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) {


}

/* -------- iPhone 6, 6S, 7 and 8 ---------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 


}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 


}

/* -------- iPhone 6+, 7+ and 8+, X --------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 


}

/* ------------------ Tablet ---------------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1112px) 
  and (-webkit-min-device-pixel-ratio: 2) {


}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 


}

/* ----------- Retina Screens --------------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 


}

/* -------------- Desktop ------------------- */

/* 640px is 40rem, 1280px is 80rem, etc. */
@media screen 
  and (min-width: 1600px) {


}
