/**************************************
*        DIAGNOSTIC STYLING           *
***************************************/

* {
  outline: 0px dotted grey;
}

/**************************************
*         HTML, BODY STYLING          *
***************************************/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: black;
  margin: 5%;
  /* font-family: 'Cutive Mono', monospace; */
  font-family: 'Philosopher', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #a7bdd3;
}

/**************************************
*        PORTFOLIO STYLING            *
***************************************/
/*  */
.lg-backdrop {
  background-color: black;
}

.lg-toolbar {
  background-color: black;
}

img.lg-object.lg-image {
  border-radius: 1%;
  outline: 0;
}

h1 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-family: 'Montserrat', sans-serif;

}

h3 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-family: 'Montserrat', sans-serif;

}

h1, h3, nav, a {
  color: white;
  /* color: #a7bdd3; */

}

a {
  text-decoration: none;
  padding-bottom: 7px;
}

ul {
  list-style-type: none;
}

#nav li {
  position: relative;
  display: inline;
  padding: 17px;
  min-width: 40px;
  text-align: center;
  font-size: 14px;
  transition: color 1s;
}

#nav {
  display: block;
}

nav {
  float: right;
  margin-bottom: 1em;
}

#nav li a:hover {
  /* background: #1c1c1c; */
  color: #a7bdd3;  /* or whatever */
}


body#home a#homenav,
body#about a#aboutnav,
body#portfolio a#portfolionav,
body#contact a#contactnav {
	color: #a7bdd3;
  border-bottom: 1px solid #a7bdd3;

}

/**************************************
*            FORM STYLES              *
***************************************/

#formcomment{
  color: grey;
}

text-area, input {
  color: grey;
  margin: 2%;
  border-radius: 5%;
} 


/**************************************
*            ABOUT STYLES            *
***************************************/
 
.greet {
  margin-top: 60px;
  font-size: 28px;
  line-height: 1em;
}

.greet p {
  display: inline;
}

.h1-text {
  display: inline-block;



}


/**************************************
*            BUTTON STYLES            *
***************************************/
.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  line-height: 1.4;
  transition: 0.3s;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

.btn.btn-primary {
  background: #a7bdd3;
  color: #000;
  border: 1px solid transparent;
}

/**************************************
*                FOOTER                *
***************************************/

#footer {
  position: relative;
  width: 100%;
  color: #a7bdd3;
  text-align: center;
}

p.copyright {
  /* position: absolute; */
  width: 100%;
  line-height: 20px;
  font-size: 0.8em;
  text-align: center;
  /* bottom: 0px; */
}

.footer-icon {
  max-width: 40%;
  margin-right: 0px;
  margin-left: 0px;
}

a.social-link svg {
  width: 55px;
  padding-left: 15px;
  padding-right: 15px;
}

footer#footer {
  border-top: 1px solid white;
}

div.div-border {
  width: 3px;
  height: 30px;
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  border-top: 1px solid #a7bdd3;
  opacity: 0.4;
}



body {
  padding: 2em;
}

section {
  background: rosybrown;
  margin: 1em;
  width: 300px;
}

.grid section,
.list section {
  animation: jello .5s;
}


/* Default, Grid View Styling */
.grid section h2,
.grid section p {
  display: none;
}

/* List View */
.list section img {
  display: none;
}

.list section {
  width: 600px;
}

.portfolio img {
  width: 150px;
  overflow: hidden;
}




/**************************************
*                RWD                  *
***************************************/

@media (max-width: 900px) {


}

@media (max-width: 500px) {


}

/* Mobile 320px min */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) {


}

/* -------- iPhone 6, 6S, 7 and 8 ---------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 


}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 


}

/* -------- iPhone 6+, 7+ and 8+, X --------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 


}

/* ------------------ Tablet ---------------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1112px) 
  and (-webkit-min-device-pixel-ratio: 2) {


}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 


}

/* ----------- Retina Screens --------------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 


}

/* -------------- Desktop ------------------- */

/* 640px is 40rem, 1280px is 80rem, etc. */
@media screen 
  and (min-width: 1600px) {


}
